In [4]:
import pandas as pd
import numpy as np
from numpy import NaN

In [2]:
ac = pd.read_csv('results/1С-аналитик_vac.csv', sep=';', encoding='utf-8')
ds = pd.read_csv('results/Data Scientist_vac.csv', sep=';', encoding='utf-8')
do = pd.read_csv('results/DataOps-инженер_vac.csv', sep=';', encoding='utf-8')
ab = pd.read_csv('results/Аналитик BI_vac.csv', sep=';', encoding='utf-8')
ad = pd.read_csv('results/Аналитик данных_vac.csv', sep=';', encoding='utf-8')
dj = pd.read_csv('results/Дата-журналист_vac.csv', sep=';', encoding='utf-8')
de = pd.read_csv('results/Дата-инженер_vac.csv', sep=';', encoding='utf-8')
ma = pd.read_csv('results/Маркетинговый аналитик_vac.csv', sep=';', encoding='utf-8')
pa = pd.read_csv('results/Продуктовый аналитик_vac.csv', sep=';', encoding='utf-8')
sa = pd.read_csv('results/Системный аналитик_vac.csv', sep=';', encoding='utf-8')
fa = pd.read_csv('results/Финансовый аналитик_vac.csv', sep=';', encoding='utf-8')

In [3]:
df = pd.concat([ac, ds, do, ab, ad, dj, de, ma, pa, sa, fa])
df

,id,spec,job_title,city,employer,schedule,experience,published,salary_from,salary_to,currency,skills
0,78499122,1С-аналитик,1С Аналитик,Иннополис,ХАЙЕР ИНДАСТРИ РУС,NaN,NaN,2023-03-24,NaN,NaN,NaN,NaN
1,78499123,1С-аналитик,1С Аналитик,Казань,ХАЙЕР ИНДАСТРИ РУС,NaN,NaN,2023-03-24,NaN,NaN,NaN,NaN
2,78499126,1С-аналитик,1С Аналитик,Ижевск,ХАЙЕР ИНДАСТРИ РУС,NaN,NaN,2023-03-24,NaN,NaN,NaN,NaN
3,78056414,1С-аналитик,Программист 1C / Аналитик 1С,Нижний Новгород,Компания по удаленной поддержке организаций,NaN,NaN,2023-03-14,130000.0,210000.0,RUR,NaN
4,68818149,1С-аналитик,Программист 1С / Аналитик 1С,Томск,ТрансСервис,NaN,NaN,2023-03-27,90000.0,120000.0,RUR,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
651,75967116,Финансовый аналитик,Финансовый менеджер/Аналитик,Ростов-на-Дону,Роллер Раббер Регион,NaN,NaN,2023-04-05,80000.0,NaN,RUR,NaN
652,78727594,Финансовый аналитик,Финансовый менеджер-аналитик,Ростов-на-Дону,Даная,NaN,NaN,2023-03-30,55000.0,55000.0,RUR,NaN
653,73449732,Финансовый аналитик,Финансовый аналитик по инвестиционным проектам,Ростов-на-Дону,Агрохолдинг СТЕПЬ,NaN,NaN,2023-03-31,NaN,NaN,NaN,NaN
654,78365242,Финансовый аналитик,Финансовый аналитик / экономист,Ростов-на-Дону,Грандфаянс,NaN,NaN,2023-03-21,NaN,NaN,NaN,NaN
655,76319129,Финансовый аналитик,Финансовый менеджер / Бизнес-аналитик,Ростов-на-Дону,Этажи Юг,NaN,NaN,2023-03-28,70.0,NaN,RUR,NaN

In [5]:
df[df['skills'] != NaN]

,id,spec,job_title,city,employer,schedule,experience,published,salary_from,salary_to,currency,skills
0,78499122,1С-аналитик,1С Аналитик,Иннополис,ХАЙЕР ИНДАСТРИ РУС,NaN,NaN,2023-03-24,NaN,NaN,NaN,NaN
1,78499123,1С-аналитик,1С Аналитик,Казань,ХАЙЕР ИНДАСТРИ РУС,NaN,NaN,2023-03-24,NaN,NaN,NaN,NaN
2,78499126,1С-аналитик,1С Аналитик,Ижевск,ХАЙЕР ИНДАСТРИ РУС,NaN,NaN,2023-03-24,NaN,NaN,NaN,NaN
3,78056414,1С-аналитик,Программист 1C / Аналитик 1С,Нижний Новгород,Компания по удаленной поддержке организаций,NaN,NaN,2023-03-14,130000.0,210000.0,RUR,NaN
4,68818149,1С-аналитик,Программист 1С / Аналитик 1С,Томск,ТрансСервис,NaN,NaN,2023-03-27,90000.0,120000.0,RUR,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
651,75967116,Финансовый аналитик,Финансовый менеджер/Аналитик,Ростов-на-Дону,Роллер Раббер Регион,NaN,NaN,2023-04-05,80000.0,NaN,RUR,NaN
652,78727594,Финансовый аналитик,Финансовый менеджер-аналитик,Ростов-на-Дону,Даная,NaN,NaN,2023-03-30,55000.0,55000.0,RUR,NaN
653,73449732,Финансовый аналитик,Финансовый аналитик по инвестиционным проектам,Ростов-на-Дону,Агрохолдинг СТЕПЬ,NaN,NaN,2023-03-31,NaN,NaN,NaN,NaN
654,78365242,Финансовый аналитик,Финансовый аналитик / экономист,Ростов-на-Дону,Грандфаянс,NaN,NaN,2023-03-21,NaN,NaN,NaN,NaN
655,76319129,Финансовый аналитик,Финансовый менеджер / Бизнес-аналитик,Ростов-на-Дону,Этажи Юг,NaN,NaN,2023-03-28,70.0,NaN,RUR,NaN

In [5]:
df.to_csv('hh_vacancies.csv')