In [1]:
import pandas as pd
import numpy as np
from numpy import NaN
from itertools import chain

In [14]:
# ac = pd.read_csv('results/1С-аналитик_vac.csv', sep=';', encoding='utf-8')
ds = pd.read_csv('results/Data Scientist_vac.csv', sep=';', encoding='utf-8')
do = pd.read_csv('results/DataOps-инженер_vac.csv', sep=';', encoding='utf-8')
ab = pd.read_csv('results/Аналитик BI_vac.csv', sep=';', encoding='utf-8')
ad = pd.read_csv('results/Аналитик данных_vac.csv', sep=';', encoding='utf-8')
dj = pd.read_csv('results/Дата-журналист_vac.csv', sep=';', encoding='utf-8')
de = pd.read_csv('results/Дата-инженер_vac.csv', sep=';', encoding='utf-8')
ma = pd.read_csv('results/Маркетинговый аналитик_vac.csv', sep=';', encoding='utf-8')
# pa = pd.read_csv('results/Продуктовый аналитик_vac.csv', sep=';', encoding='utf-8')
sa = pd.read_csv('results/Системный аналитик_vac.csv', sep=';', encoding='utf-8')
# fa = pd.read_csv('results/Финансовый аналитик_vac.csv', sep=';', encoding='utf-8')

In [10]:
ad_sk = ['анализ', 'sheets', 'excel', 'статистика', 'визуализация',
         'data studio', 'python', 'jupyter notebook', 'numpy', 
         'pandas', 'сбор', 'sql', 'ml', 'machine learning', 'hadoop']

ab_sk = ['анализ', 'sheets', 'excel', 'статистика', 'визуализация', 
         'data studio', 'power bi', 'pivot', 'datalens', 'tableau',
         'сбор', 'sql', 'ssas']

sa_sk = ['разработка по', 'agile', 'scrum', 'моделирование бизнес-процессов',
         'нотации', 'проектирование', 'сбор', 'описание', 'визуализация',
         'прототипирование', 'figma', 'sql', 'rest api', 'soap', 'open api',
         'проектная документация', 'cjm', 'тз', 'спецификация', 'SRS', 'bcm']

ma_sk = ['анализ', 'sheets', 'статистика', 'визуализация', 'google looker studio',
         'метрики', 'юнит-экономика', 'поиск точек роста', 'RFM-анализ', 
         'когортный анализ', 'веб-аналитика', 'яндекс метрика', 'google analitics',
         'ab', 'sql', 'power bi', 'python', 'numpy', 'pandas', 'api']

dj_sk = ['анализ', 'сбор', 'очистка', 'визуализация', 'построение карт', 'сторителлинг',
         'python', 'pandas', 'статистика', 'tableau']

de_do_sk = ['sql', 'базы данных', 'etl', 'bi', 'python', 'pandas', 'numpy',
            'hadoop', 'mapreduce', 'apache', 'kafka', 'spark', 'airflow',
            'clickhouse', 'yandex cloud', 'docker', 'kubernetes',
            'ansible', 'gitlab ci', 'mlflow']

ds_sk = ['анализ', 'sheets', 'статистика', 'data studio', 'python', 'sql',
         'ml', 'machine learning', 'сбор', 'визуализация', 'исследование',
         'нейронные сети', 'нейросети', 'временные ряды', 'алгоритм',
         'sklearn', 'tensorflow', 'pytorch','cv', 'gan', 'nlp']

#### 1 / 11 Аналитик данных, подготовка к конкату

In [15]:
ad.drop(['job_title', 'city', 'employer', 'schedule', 'experience',
         'published', 'salary_from', 'salary_to', 'currency'], 
         axis=1, inplace=True)
ad.skills.replace(NaN, '-', inplace=True)

def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

lens = ad.skills.str.split(',').map(len)

ad = pd.DataFrame({'id': np.repeat(ad['id'], lens),
                    'spec': np.repeat(ad['spec'], lens),
                    'skills': chainer(ad['skills'])})

In [ ]:
ad = ad.loc[ad.skills.str.contains('|'.join(ad_sk))]
ad.skills = ad.skills.str.strip()

ad.skills.loc[(ad.skills.str.contains('sql'))] = 'sql'
ad.skills.loc[(ad.skills.str.contains('excel'))] = 'excel'
ad.skills.loc[(ad.skills.str.contains('machine learning'))] = 'ml'
ad.skills.loc[(ad.skills.str.contains('анализ'))] = 'анализ (данных, финансовый, т.д.)'

#### 2 / 11 Data Scientist, подготовка к конкату

In [17]:
ds.drop(['job_title', 'city', 'employer', 'schedule', 'experience',
         'published', 'salary_from', 'salary_to', 'currency'], 
         axis=1, inplace=True)
ds.skills.replace(NaN, '-', inplace=True)

def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

lens = ds.skills.str.split(',').map(len)

ds = pd.DataFrame({'id': np.repeat(ds['id'], lens),
                    'spec': np.repeat(ds['spec'], lens),
                    'skills': chainer(ds['skills'])})

In [ ]:
ds = ds.loc[ds.skills.str.contains('|'.join(ds_sk))]
ds.skills = ds.skills.str.strip()

ds.skills.loc[(ds.skills.str.contains('sql'))] = 'sql'
ds.skills.loc[(ds.skills.str.contains('excel'))] = 'excel'
ds.skills.loc[(ds.skills.str.contains('machine learning'))] = 'ml'
ds.skills.loc[(ds.skills.str.contains('ml'))] = 'ml'
ds.skills.loc[(ds.skills.str.contains('анализ'))] = 'анализ (данных, финансовый, т.д.)'

#### 3 / 11 Аналитик BI, подготовка к конкату

In [19]:
ab.drop(['job_title', 'city', 'employer', 'schedule', 'experience',
         'published', 'salary_from', 'salary_to', 'currency'], 
         axis=1, inplace=True)
ab.skills.replace(NaN, '-', inplace=True)

def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

lens = ab.skills.str.split(',').map(len)

ab = pd.DataFrame({'id': np.repeat(ab['id'], lens),
                    'spec': np.repeat(ab['spec'], lens),
                    'skills': chainer(ab['skills'])})

In [ ]:
ab = ab.loc[ab.skills.str.contains('|'.join(ab_sk))]
ab.skills = ab.skills.str.strip()

ab.skills.loc[(ab.skills.str.contains('sql'))] = 'sql'
ab.skills.loc[(ab.skills.str.contains('excel'))] = 'excel'
ab.skills.loc[(ab.skills.str.contains('bi'))] = 'power bi'
ab.skills.loc[(ab.skills.str.contains('pivot'))] = 'pivot'
ab.skills.loc[(ab.skills.str.contains('анализ'))] = 'анализ (данных, финансовый, т.д.)'

#### 4 / 11 Системный аналитик, подготовка к конкату

In [21]:
sa.drop(['job_title', 'city', 'employer', 'schedule', 'experience',
         'published', 'salary_from', 'salary_to', 'currency'], 
         axis=1, inplace=True)
sa.skills.replace(NaN, '-', inplace=True)

def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

lens = sa.skills.str.split(',').map(len)

sa = pd.DataFrame({'id': np.repeat(sa['id'], lens),
                    'spec': np.repeat(sa['spec'], lens),
                    'skills': chainer(sa['skills'])})

In [ ]:
sa = sa.loc[sa.skills.str.contains('|'.join(sa_sk))]
sa.skills = sa.skills.str.strip()

sa.skills.loc[(sa.skills.str.contains('sql'))] = 'sql'
sa.skills.loc[(sa.skills.str.contains('agile'))] = 'agile'
sa.skills.loc[(sa.skills.str.contains('тз'))] = 'написание тз'
sa.skills.loc[(sa.skills.str.contains('soap'))] = 'soap'
sa.skills.loc[(sa.skills.str.contains('моделирование | проектирование'))] = 'проектирование (интерфейсов, api, т.д.)'
sa.skills.loc[(sa.skills.str.contains('сбор требований'))] = 'сбор требований'

#### 5 / 11 Маркетинговый аналитик, подготовка к конкату

In [23]:
ma.drop(['job_title', 'city', 'employer', 'schedule', 'experience',
         'published', 'salary_from', 'salary_to', 'currency'], 
         axis=1, inplace=True)
ma.skills.replace(NaN, '-', inplace=True)

def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

lens = ma.skills.str.split(',').map(len)

ma = pd.DataFrame({'id': np.repeat(ma['id'], lens),
                    'spec': np.repeat(ma['spec'], lens),
                    'skills': chainer(ma['skills'])})

In [ ]:
ma = ma.loc[ma.skills.str.contains('|'.join(ma_sk))]
ma.skills = ma.skills.str.strip()

ma.skills.loc[(ma.skills.str.contains('анализ'))] = 'анализ (данных, финансовый, т.д.)'
ma.skills.loc[(ma.skills.str.contains('sql'))] = 'sql'
ma.skills.loc[(ma.skills.str.contains('статистика'))] = 'статистика'

#### 6 / 11 Дата-журналист, подготовка к конкату

In [25]:
dj.drop(['job_title', 'city', 'employer', 'schedule', 'experience',
         'published', 'salary_from', 'salary_to', 'currency'], 
         axis=1, inplace=True)
dj.skills.replace(NaN, '-', inplace=True)

def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

lens = dj.skills.str.split(',').map(len)

dj = pd.DataFrame({'id': np.repeat(dj['id'], lens),
                    'spec': np.repeat(dj['spec'], lens),
                    'skills': chainer(dj['skills'])})

In [ ]:
dj = dj.loc[dj.skills.str.contains('|'.join(dj_sk))]
dj.skills = dj.skills.str.strip()

dj.skills.loc[(dj.skills.str.contains('анализ'))] = 'анализ данных'
dj.skills.loc[(dj.skills.str.contains('сбор'))] = 'сбор данных'
dj.skills.loc[(dj.skills.str.contains('визуализация'))] = 'визуализация данных'
dj.skills.loc[(dj.skills.str.contains('storytelling'))] = 'сторителлинг'
dj.skills.loc[(dj.skills.str.contains('story telling'))] = 'сторителлинг'

#### 7-8 / 11 Дата-инженер | DataOps-инженер, подготовка к конкату

In [27]:
#DataOps
do.drop(['job_title', 'city', 'employer', 'schedule', 'experience',
         'published', 'salary_from', 'salary_to', 'currency'], 
         axis=1, inplace=True)
do.skills.replace(NaN, '-', inplace=True)

def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

lens = do.skills.str.split(',').map(len)

do = pd.DataFrame({'id': np.repeat(do['id'], lens),
                    'spec': np.repeat(do['spec'], lens),
                    'skills': chainer(do['skills'])})

In [28]:
do = do.loc[do.skills.str.contains('|'.join(de_do_sk))]
do.skills = do.skills.str.strip()

do.skills.unique()

# do.skills.loc[(do.skills.str.contains('...'))] = '...'
# do.skills.loc[(do.skills.str.contains('...'))] = '...'

array(['python', 'docker', 'clickhouse', 'airflow', 'kubernetes', 'kafka',
       'rabbitmq', 'nosql', 'hadoop', 'postgresql', 'spark'], dtype=object)

In [ ]:
# дата-инженер
de.drop(['job_title', 'city', 'employer', 'schedule', 'experience',
         'published', 'salary_from', 'salary_to', 'currency'], 
         axis=1, inplace=True)
de.skills.replace(NaN, '-', inplace=True)

def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

lens = de.skills.str.split(',').map(len)

de = pd.DataFrame({'id': np.repeat(de['id'], lens),
                    'spec': np.repeat(de['spec'], lens),
                    'skills': chainer(de['skills'])})

In [ ]:
de = de.loc[de.skills.str.contains('|'.join(de_do_sk))]
de.skills = de.skills.str.strip()

de.skills.loc[(de.skills.str.contains('sql'))] = 'sql'
de.skills.loc[(de.skills.str.contains('bi'))] = 'power bi'
de.skills.loc[(de.skills.str.contains('airflow'))] = 'airflow'
de.skills.loc[(de.skills.str.contains('nifi|ni-fi'))] = 'nifi'

#### 9 / 11 ***, подготовка к конкату

#### 10 / 11 ***, подготовка к конкату

#### 11 / 11 ***, подготовка к конкату

#### Конкат + топ-15 навыков + сводная

In [31]:
df = pd.concat([ds, do, ab, ad, dj, de, ma, sa])
df.skills.replace(NaN, '-', inplace=True)
df

            id                spec                     skills
0     78400616      Data Scientist                     python
0     78400616      Data Scientist  математическая статистика
0     78400616      Data Scientist                        sql
1     78381745      Data Scientist                        nlp
1     78381745      Data Scientist                         ml
...        ...                 ...                        ...
2432  78332437  Системный аналитик            сбор требований
2433  78858561  Системный аналитик                      figma
2434  77967549  Системный аналитик                       soap
2434  77967549  Системный аналитик                        sql
2435  73480947  Системный аналитик                        sql

[4345 rows x 3 columns]

In [49]:
top_15 = df.skills.value_counts().to_frame().reset_index().head(15)
list_top = list(top_15.skills)
list_top

['sql',
 'анализ (данных, финансовый, т.д.)',
 'python',
 'soap',
 'ml',
 'excel',
 'agile',
 'power bi',
 'scrum',
 'математическая статистика',
 'сбор и анализ информации',
 'rest api',
 'tableau',
 'pytorch',
 'написание тз']

In [54]:
df = df[df.skills.isin(list_top)]

In [58]:
df = pd.pivot_table(
    df,
    index='skills',
    columns='spec',
    values='id',
    aggfunc='count'
).reset_index()

In [61]:
df.to_excel('hh_vacancies.xlsx', index=False)